@charset 'UTF-8';

* {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}

body {
    background-color: #202020;
}

header {
    font-size: 1.5em;
    padding: 32px;
    text-align: center;
    color: white;
    font-variant-caps: all-petite-caps;
}

main {
    background-color: white;
    margin: 0 auto 24px;
    border-radius: 16px;
    padding: 16px;
    width: 80vw;
    max-width: 8    00px;
    box-shadow: 5px 5px 5px 2px #0000004d;
}

section {
    margin: 0 0 24px;
}

h2 {
    font-family: 'VT323', monospace;
    font-weight: 200;
    border-radius: 7px;
    color: green;
    margin: 0 0 7px;
    padding: 3px 7px;
    background-image: linear-gradient(to left, green, black 75%);
}

h2::before {
    content: '>';
}

h2::after {
    content: '_';
}

.text {
    text-indent: 16px;
    margin: 0 0 16px;
}

.code {
    text-indent: 0;
    font-family: monospace;
    display: inline-block;
    color: white;
    background-color: #424242;
    padding: 3px 7px;
    border-radius: 7px;
    box-shadow: 1px 2px 0px 1px black;
}

.code > p {
    font-family: monospace;
}

.comment {
    font-family: monospace;
    color: chartreuse;
}

li {
    margin: 12px 0px;
}